body {
	margin: 0 auto;
	max-width: 50em;
	font-famiy: 'Helvetica', 'Arial', sans-serif;
	line-height: 1.5;
	padding: 4em 1em;
	color: #555;
}

h1 {
	color: #333;
}

.sivupalkki {
	width: 200px;
	height: 680px;
	background-color: #440044;
	border-style: dashed;
	border width: 2px;
	border-color: black;
	border-radius: 25px;
	padding: 20px;
}
