body {
	margin: 0 auto;
	max-width: 50em;
	line-height: 1.5;
	padding: 4em 2em;
	background-color: rgba(144, 77, 0, 0.1);
	font-stretch: expanded;
}

h1 {
	
	color: rgba(99, 37, 0, 0.6);
	font-family: "Times New Roman";
	font-size: 30px;
	top: 10%;
	text-transform: lowercase;
	line-height: 0.7;
	letter-spacing: 20px;
}


h2 {
	color: #A95211;
	font-family: "Times New Roman";
	font-size: 30px;
	text-transform: uppercase;
	text-align: center;
	top: 50%;
	letter-spacing: 20px;
}
	

h3 {
	color: rgb(99, 37, 0);
	font-family: "Times New Roman";
	font-size: 16px;
	text-transform: uppercase;
	line-height: 3;
}
	

p {
	color: #420F0A;
	font-family: 'Helvetica', 'Arial', 'sans-serif';
	font-size: 14px;
	letter-spacing: 3px; 
}

.p15 {
	line-height: 1.5;
}

.p2 {
	line-height: 2;
}


a:link, a:visited {
	text-decoration: none;
  	color: #7D5A57;
}

a:hover, a:active {
	font-weight: bold;
}


.tr1 {
	width: 100%;
}

.td1 {
	width: 50%;
}

.td2 {
	width: 25%;
}

.td3 {
	width: 75%;
}

.opaque {
	color: rgba(99, 37, 0, 0.3)
}

.opaque2 {
	color: rgba(99, 37, 0, 0.15)
}

.nimipalkki {
	width: 80%;
	height: 14%;
	top: 0%;
	left: 30%;
	align-content: bottom;
	text-align: center;
	position: absolute;
	
}

.yleistietopalkki {
	width: 25%;
	height: 100%;
	top: 0px;
	left: 0px;
	text-align: left;
	padding: 27px;
	position: absolute;
	background-color: rgba(144, 96, 0, 0.2);
	border-right: 3px dotted rgba(99, 37, 0, 0.6);

}

.paapalkki {
	width: 40%;
	left: 30%;
	top: 20%;
	padding: 7%;
	position: absolute;
	text-align: left;
	opacity: 100%;
}
